<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        
        <% for(let i=0;i<10;i++) { %>
             <h1> <%= i %> </h1>   
            <% } %>



    </body>
</html>